@import "./../styles/variables.scss";

.home {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;

  @media (min-width: $sm) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $mid) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: $big) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
