@import "./../styles/variables.scss";

.search {
  display: flex;
  justify-content: right;

  margin-block-end: 1rem;
  &__content {
    border-color: $dark;
    border-style: solid;
    border-width: 0.3rem;
    display: flex;
    justify-content: right;
    padding: 0.5rem 1rem;
    border-radius: $borderRadius;
    background: $light;
    width: 100%;
    @media (min-width: $sm) {
      width: 40%;
    }

    input {
      flex: 1;
      border: none;
      font-size: 1.5rem;
      font-weight: 500;
      outline: none;
      color: $dark;
      background: $light;
    }

    img {
      width: 30px;
      height: 30px;
    }
  }
}
